button{
    margin: 20px 0px;
    height: 100px;
    border: none;
    font-size: 14px;
    color: #5d5d5d;
    border-radius: 5px;
    background-color: #eeeeee;
}
.m {
    width: 600px;
    height: 45px;
    font-size: 20px;
    box-shadow: none;
    padding-left: 60px;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1px solid rgb(223, 223, 223);
}
.m:focus{
    border: 1px solid white;
    outline: 0px solid white;
    box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
}




